@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@font-face {
  font-family: 'YekanBakh';
  src: url('../font/yekanbakh-medium.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@layer base {
  html {
    font-family: 'YekanBakh';
  }
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground); 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground); 
}
